.calendar {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
.container {
  display: flex;
  width: 200px;
}
.timeThumb {
  display: flex;
  font-size: 15px;
  padding-bottom: 30px;
}
.timeThumb:nth-child(odd) {
  border-top: 1px solid #f8f9fa;
}

.timeThumb:nth-child(even) {
  font-size: 10px;
}
.scaleTime {
  width: 57px;
  text-align: right;
  margin-right: 10px;
  color: #d1d1d1;
}
.eventThumb {
  position: relative;
  font-size: 14px;
}
.itemTime {
  background-color: #e2ecf5;
  width: 100%;
}
