.thumb {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 40px;
}

.title {
  font-size: normal;
  margin-right: 20px;
  margin-left: 10px;
}

.titleThumb {
  display: flex;
  align-items: center;
}
